%html
  %head
    %title IdeaBox
  %body
    %h2 IdeaBox
    %form(action='/' method='POST')
      %label your idea:
      %br
      %input(type='text' name='idea_title')
      %br
      %textarea(name='idea_description')
      %br
      %input(type='submit')


